@import './colors/colors.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: $very-dark-blue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

//Rating State Card
.rating-card {
    background: linear-gradient(to bottom,#1e252f 5%,rgba(29, 36, 44, 0.479));
    max-width: 440px;
    padding: 2rem;
    border-radius: 2rem;
}

.star {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;

    svg {
        transform: scale(1.1);
    }

    margin-bottom: 2.5rem;
}

.rating-card__title {
    color: $white;
}

.rating-card__text {
    color: $light-grey;
}

.ratings {
    color: $light-grey;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0;

    li {
        background-color: $dark-blue;
        padding: 1rem;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 50%;
    }
}

#submit-btn {
    color: $white;
    background-color: $orange;
    border-radius: 2rem;
    display: block;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 8px;
    margin-top: 2.5rem;
}

// Thank You State Card
.thankyou-card {
    display: none;
}