@import './colors/colors.scss';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    background-color: $very-dark-blue;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    background: linear-gradient(to bottom,#1e252f 5%,rgba(29, 36, 44, 0.479));
    max-width: 416px;
    max-height: 413px;
    padding: 60px 32px;
    border-radius: 2rem;
}

//Rating State Card
.rating-card {
    display: none;

}

.star {
    background-color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: relative;
    left: 3px;
    bottom: 26px;

    svg {
        transform: scale(1.1);
    }

    margin-bottom: 2.5rem;
}

.rating-card__title {
    color: $white;
    font-size: 28px;
    position: relative;
    bottom: 32px;
}

.rating-card__text {
    color: $light-grey;
    position: relative;
    bottom: 42px;
    line-height: 1.5;
    //margin: 0.5rem 0 2.5rem;
}

//RATINGS
.card__buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    position: relative;
    bottom: 28px;
}

input[type=radio] {
    position: absolute;
    appearance: none;

    &:checked + label {
        background-color: $medium-grey;
        color: $white;
    }

}

.rating {
    display: inline-block;
    font-size: 18px;
    position: relative;
    color: $light-grey;
    background-color: $dark-blue;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 100%;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $orange;
        color: $white;
    }
}

.rating__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-45%);
}

#submit-btn {
    color: $white;
    background-color: $orange;
    border-color: transparent;
    border-radius: 2rem;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 11px 8px;
    //margin-top: 2.5rem;
    width: 98%;
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 15px;

    &:hover {
        background-color: $white;
        color: $orange;
    }
}

.last-btn {
    margin-right: 6px;
}

// Thank You State Card
.thankyou-card {
    //display: none;
    text-align: center;

    svg {
        position: relative;
        bottom: 17px;
        right: 4px;
    }
}

.selection-message {
    color: $orange;
    background-color: $dark-blue;
    border-radius: 1rem;
    padding: 0.3rem 0;
    width: 55%;
    margin: 0 auto;
    margin-top: 15px;
}

.thankyou-title {
    color: $white;
    font-size: 28px;
    margin-top: 35px;
    margin-bottom: 0;
}

.thankyou-text {
    color: $light-grey;
    line-height: 1.5;
    width: 97%;
    position: relative;
    bottom: 4px;
}

// Footer
footer {
    text-align: center;

    .attribution {
        color: $white;
        
        a {
            color: $orange;
            text-decoration: none;
            transition: all 0.2s ease;

            &:hover {
                color: $light-grey;
            }
        }
    }
}